use path from "node:path"

use { GithubIcon } from "./icon-components"
use { PUBLIC_PATH } from "../paths"
use { CWrapper, CMain, CLogo } from "../structures"

export component Wrapper(props) {
    CWrapper.verify(props)

    return <div class="wrapper">${props.child}</div>
}
export component Logo(props) {
    CLogo.verify(props)

    return <img class="logo" src="${path.join(PUBLIC_PATH, "media", props.src)}" />
}
export component Main(props) {
    CMain.verify(props)

    return 
        ${Logo({ src: "icon.png" })}
        <h1>Slim ${props.version}</h1>
        <p>Welcome to the default page. You can go to /local/ and customize it to your liking.</p>

        <div class="icons">
            <a class="icon" href="/github" target="_blank">
                ${GithubIcon({
                    color: "white",
                    size: 30
                })}
            </a>
        </div>
}