struct UserComponent {
    ID: int
    Name: string
}

component User(props: UserComponent) {
    return <div>${props.Name}: ${props.ID}</div>
}

log(String(User({ ID: 3, Name: "John" }))) // <div>3</div>