struct User {
    name: string
    id: int
    roles: string[]
}

const structVerifyRes = User.verifySafe({
    name: "John",
    id: 3,
    roles: ["Member"]
})
log(structVerifyRes) // { success: true, result: { name: 'John', id: 3, roles: [ 'Member' ] } }